<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- loading the properties file -->
	<context:property-placeholder location="classpath:sport.properties"/>
    <!-- Define your beans here -->
    
    <!--  defining our dependency -->
    
    <bean id="myFortuneService"
    	class="com.schfrnick.springdemo.HappyFortuneService">
    </bean>
    
    
    <bean id= "myCoach"
    	class= "com.schfrnick.springdemo.TrackCoach">
    	
    	 <!-- constructor injection  which will pass the fortune reference-->
    	 
    	<constructor-arg ref="myFortuneService" />
    </bean>
    
   <!--  Dependency injection -->
   <bean id="myCricketCoach" 
   		class="com.schfrnick.springdemo.CricketCoach">
   		
   		<property name="emailAddress" value ="${foo.email}"/>
   		<property name="team" value ="${foo.team}"/>
   		<!-- set up setter ref -->
   		
   		<property name="fortuneService" ref="myFortuneService"></property>
   		</bean>
    
    
</beans>





